.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin:0;
}

@media all and (max-width: 725px) {
    .footer__links {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        
       
    }
}