.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    margin: 8px 0 0 0;
}

@media all and (max-width: 928px) {
    .lead__caption {
        margin: 8px 0 0 24px;
        
    }
}

@media all and (max-width: 465px) {
    .lead__caption {
        margin: 8px 0 0 16px;
        
    }
}


